---

---

<section class="relative overflow-hidden"> 
    <div class="container">
        <div class="flex flex-col justify-center items-start h-[600px]">
            <span class="rounded border-2 border-neutral-500 px-4 py-1"> Want to learn to drive? </span>
            <h1 class="text-6xl font-bold mt-8"> Lorem ipsum dolor sit amet.</h1>
            <p class="text-2xl mt-6 max-w-[60ch]"> consectetur adipisicing elit. Optio, nisi eveniet. Provident, molestias. Cupiditate dolore perspiciatis id vero, asperiores architecto commodi vitae sint aperiam. Dolorem sed nihil veritatis exercitationem delectus!  </p>
        </div>
    </div>
    <img class="absolute top-0 left-0 w-full h-full object-cover -z-10" src="https://cdn.pixabay.com/photo/2021/07/17/20/02/road-6473967_960_720.jpg" />
</section>