@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";

@keyframes fadeInFromTop {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@utility container {
  @apply mx-auto px-4;
}

@theme {
  --font-main: "Open Sans";
  --radius: 0.75rem;
}

* {
  @apply font-main;
}

.btn {
  @apply bg-neutral-600 text-white px-6 py-3 rounded font-bold hover:bg-neutral-950 cursor-pointer transition-all;
}

div.input-wrapper {
  @apply relative flex flex-col justify-start;

  label {
    @apply font-semibold;
  }

  input {
    @apply border rounded-full px-3 py-2;
  }
}

.divider {
  @apply h-[1px] bg-neutral-900 w-full rounded-full;
}

input-container[data-error="true"] {
  input {
    @apply border-red-500;
  }

  span {
    @apply flex;
  }
}

details {
  summary {
    svg {
      @apply transition-all duration-300 ease-out size-8;
    }
  }
}

details[open] {
  summary {
    svg {
      @apply transform rotate-45;
    }
  }
  div {
    animation: fadeInFromTop 150ms ease-out;
  }
}
