---

import GDSLogo from '../assets/gdsLogo.svg?raw';

---

<header class="relative py-8">
    <div class="container flex flex-row justify-between items-center">
        <Fragment set:html={ GDSLogo } />

        <div>
            <button> Request Callback </button>
        </div>
    </div>
</header>